<div class="home">
	<div layout="row">
		<div flex="66">
			<h1>Events Calendar</h1>
			<h4>Featured Events</h4>
			
				<slick dots="true" infinite="false" speed="300" slides-to-show="1" touch-move="false" slides-to-scroll="1">
				   <div ng-repeat="item in items">
					  <span>
					    <img ng-src="{{ item.imgSrc }}" alt="{{ item.label}}">
					   </span>
					   <span>{{ item.label }}</span>
					</div>
				</slick>
			
		</div>
		<div flex="33">
			<!-- <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> -->
		</div> 
	</div>
</div>